
body { 
  background-color: #fff; 
  background-size: 1000px 900px;
}

.ball { /*властивості мяча*/ 
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%; /*роблю квадрат кругом*/ 
  background: #cc3f85;
  animation-name: dws-bounce, dws-moveleft; /*назва анімацій, якщо більше 1-ї, то прописуємо через кому*/ 
  animation-duration: 4s, 25s; /*час відтворення анімації*/ 
  animation-iteration-count: infinite, infinite; /*кількість програвань анімації - безкінечність*/ 
  animation-timing-function: linear, linear; /*ф-я розподілу анімованих значень*/ 
}

/*АНІМАЦІЯ*/ 
@keyframes dws-bounce { /*рух зверху вниз*/ 
  0% { bottom:100%; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
  25% { bottom:0; width:100px; height:100px; background: #cc3f85;}
  30% { bottom:0; height: 25px; width:110px; background: red; }
  35% { bottom:0; width:100px; height:100px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
  70% { bottom:100%; background: #cc3f85;}
  100% { bottom:100%;  }
}

@keyframes dws-moveleft { /*зліва направо*/ 
  0% {left: 0;}
  100% {left: 100%;}
}


@keyframes bouncing{
  0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
  100%{ bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
}

a {
    animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
    background: lightslategrey;
    border-radius: 2px;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 1em 2em 1.1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    margin-top: 50px;
}
